body {
	padding-top: 20px;
	padding-left: 20px;
}

h2 {
	text-align: center;
	color: #17A2B8;
}

h1 {
	padding-left: 20px;
}

.container-form {
	width: 400px;
}

.txt-connexion {
	text-align: center;
}

.form-check {
	margin-left: 20px;
}

.btn-connexion {
	margin-left: 10px;
}

label {
	color: #17A2B8;
}
.text-info{
	text-align: center;
}

.btn-profil {
	display: inline-flex;
	width: 200px;
	height: 50px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: #f1f1f1;
	margin: 0 0 0 0;
	border-radius: 2px;
	font-size: 18px;
}

.container-btn-profil {
	text-align: center;
}

.container-formulaire-profil {
	padding: 20px 0 0 20px;
	margin: 0 auto;
	max-width: 600px;
	height: 530px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
}
.container-formulaire-monProfil{
	padding: 20px 0 0 20px;
	margin: 0 auto;
	max-width: 600px;
	height: 710px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
	
}

.divConfirmation {
	margin-top: 100px;
}

.text-on-pannel {
	background: #fff none repeat scroll 0 0;
	height: auto;
	margin-left: 20px;
	padding: 3px 5px;
	position: absolute;
	margin-top: -47px;
	border: 1px solid black;
	border-radius: 8px;
	color: #17A2B8;
}

.panel {
	/* for text on pannel */
	margin-top: 27px !important;
}

.panel-body {
	padding-top: 20px !important;
}

.panel {
	border: 1px solid black;
	border-radius: 8px;
	width: 600px;
	height: 250px;
}

#validerSaisie {
	margin-top: 15px;
	margin-bottom: 25px;
}

.check-encheres-ventes{
	margin-left: 30px;
}
#categorie{
	width: 300px;
}
#cards{
	margin-top: 5%;
}
